{% extends "base.html" %} {% block content %}

<div class="card w-full max-w-md mx-auto shadow-lg bg-base-200">
  <div class="card-body">
    <h2 class="text-2xl font-bold text-center mb-6">Login</h2>

    <form method="post" class="space-y-4">
      {% csrf_token %}

      <div>
        <label class="label">
          <span class="label-text mb-2">Username</span>
        </label>
        <input
          type="text"
          name="username"
          placeholder="Enter Username"
          class="input input-primary w-full"
          required
        />
      </div>

      <div>
        <label class="label">
          <span class="label-text mb-2">Password</span>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          class="input input-primary w-full"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-full">Login</button>
    </form>

    <p class="text-center mt-4 text-sm">
      Dont have an account?
      <a href="{% url 'register' %}" class="link link-primary">Register</a>
    </p>
  </div>
</div>

{% endblock %}
